body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, skyblue, rgb(48, 48, 185));
    margin: 0;
}

.nav {
    font-size: large;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 2.5em;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: left;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button {
    background-color: rgb(130, 210, 237);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: rgb(4, 13, 54);
}

.form-group {
    margin-bottom: 20px;
}

.switch-form {
    text-align: center;
    margin-top: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}
